 {{~#link-to 'speakers.show' speaker}}
 <p>{{speaker.name}} ({{speaker.presentations.length}})
   <div class="buttons">
    <button class="delete" {{action 'delete'}}>Delete</button>
  </div>
  </p>
 {{~/link-to}}
{{yield}}
