<h4>{{name}}</h4>

<h5>Presentations</h5>
<ul>
  {{#each presentations}}
    <li>{{title}}</li>
  {{/each}}
</ul>
 <p>{{#link-to 'speakers' class="button"}}Speakers &rarr;{{/link-to}}</p>
<p><em>This is speakers/show.hbs</em></p>
